@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("wikipedia.org") {
  #p-lang li.interwiki-en, #p-lang li.interwiki-nl, #p-lang li.interwiki-simple {
    font-weight: bold;
    margin-left: -18px !important;
    display: list-item !important;
  }

  #p-lang li.interwiki-en:before, #p-lang li.interwiki-nl:before, #p-lang li.interwiki-simple:before {
    content:"⚫ ";
  }
}
